h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bolder;
  font-family: monospace;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h1 {
  padding: 44px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  font-weight: 900;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 850px;
  }
}
